* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    color: #202124;
    background: #e5e5fa;
    display: grid;
    place-content: center;
    -webkit-font-smoothing: antialiased;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

button:focus {
    outline: none;
}

.play-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24' stroke-width='1.5' stroke='%235d68e2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M15 8a5 5 0 0 1 0 8'%3E%3C/path%3E%3Cpath d='M17.7 5a9 9 0 0 1 0 14'%3E%3C/path%3E%3Cpath d='M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a0.8 .8 0 0 1 1.5 .5v14a0.8 .8 0 0 1 -1.5 .5l-3.5 -4.5'%3E%3C/path%3E%3C/svg%3E") no-repeat center center / cover;
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
}

.copy-icon {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24' stroke-width='1.5' stroke='%235d68e2' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2'%3E%3C/path%3E%3Cpath d='M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center / cover;
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
}

.widget {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #fff;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
    text-align: start;
    margin-bottom: 1rem;
}

.header h5 {
    font-size: 1rem;
    font-weight: 600;
    text-align: end;
    font-style: italic;
}

.footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #5d68e2;
}

.load-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 3rem;
    padding: 0 1rem;
    margin-left: auto;
    font-size: 1rem;
    font-family: system-ui, sans-serif;
    border-radius: .5rem;
    background: #5d68e2;
    color: #fff;
}

aside {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, sans-serif;
    background: #5d68e2;
    color: #fff;
    padding: .5rem .75rem;
    border-radius: .5rem;
    opacity: 0;
    transition: all 0.25s ease-out;
}

aside.active {
    top: 1.5rem;
    opacity: 1;
}

@media (min-width: 600px) {
    .widget {
        max-width: 500px;
    }
}
